<div class="container-fluid">
  <div class="navbar">
    <div class="navbar-container">
    <div class="navbar_link">
      <%= link_to "All cocktails", cocktails_path %>
    </div>
    <%= image_tag "logo", {width: 50, height: 50} %>
    <div class="navbar_link">
      <%= link_to "Create a new cocktail", new_cocktail_path %>
    </div>
  </div>
  </div>
</div>
