<div class="container-fluid">
  <div class="navbar cocktail-navbar">
    <div class="navbar-container">
    <div class="navbar_link">
      <%= link_to "All cocktails", cocktails_path %>
    </div>
    <%= image_tag "logo", {width: 50, height: 50} %>
    <div class="navbar_link">
      <%= link_to "Create a new cocktail", "#" ,"data-toggle" => "modal", 'data-target' => '#newCoktail' %>
    </div>
  </div>
  </div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="newCoktail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= render "cocktails/form" , locals: {cocktail: @cocktail = Cocktail.new}%>
      </div>
    </div>
  </div>
</div>
